<launch>
	<node name="vel_func_node" pkg="vel_func_node" type="vel_func_node.py" output="screen">
		<!-- Setup parameters -->
		<!-- Remapping topics -->
		<remap from="commanded_velocity" to="/duckiebot02/car_cmd_switch_node/cmd"/>
		<!-- <remap from="~topic_b" to="talker/topic_a"/> -->
	</node>
</launch>
